#title {
  background-image: url('lady-img.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

body {
  cursor: url('../images/snowflake.png'), pointer;
}

.catch {
  text-align: center;
}

a {
  font-size: 20px;
}

.char:hover {
  border: solid white;
}

.character {
  padding-bottom: 15px;
  font-family: 'Fondamento', cursive;
}

h1 {
  font-family: 'Bangers', cursive;
}

.ppl {
  border-radius: 100%
}

.carousel-item {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  padding: 10px;
}

#pricing {
  padding: 3% 10%
}
.card:hover {
  background-color: #e9ecef;
}

.card {
  text-align: center;
}

#cta {
  text-align: center;
  background-color: #111d5e;
  color: white;
  padding: 3%;
}

.fa {
  margin: 0.5%;
}

#footer {
  text-align: center;
  color: grey;
}
.carousel-inner p{padding: 1% 10%;
font-family: 'Fondamento', cursive;}
